body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    height: 78vh;
    max-width: 68vh;
    
    margin: auto;
    margin-top: 5vh;
    padding: 2vh;
    background: #1a1a1a;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.chat-box {
    height: 100%;
    overflow-y: auto;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    background: #1a1a1a;
    color: #fff;
}

.chat-box .message {
    margin-bottom: 10px;
}

.chat-box .user {
    margin-left: 15%;
    text-align: left;
    color: #555;
    background: #f9f9f9;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 20px;
}

.chat-box .bot {
    text-align: left;
    color: #ccc;
}

.input-area {
    display: flex;
    gap: 10px;
    height: 40px;
}

.input-area input {
    flex: 1;
    padding-left: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.input-area button {
    height: 40px;
    width: 40px;

    background: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.input-area button:hover {
    background: #0056b3;
}

#form {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
}

#form-button {
    margin-top: 25px;
    margin-bottom: 25px;
}
    
#form-button a {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 10px;
}